<template>
  <div class="container-fluid padd-t2">
    <h2 class="py-3">Reporte de ventas</h2>

    <div class="row align-items-start">
      <div class="col">
        <select class="form-select"  aria-label="Ventas por usuario"  @change="showTable('u',userSelected)" v-model="userSelected">
          <option value="0" selected>Reporte de ventas por usuario</option>
          <option v-for="user in Users" :key="user.id" v-bind:value="user.id">{{ user.name }}</option>
        </select>
      </div>
      <div class="col">
        <select class="form-select" aria-label="Default select example" @change="showTable('t',teamSelected)" v-model="teamSelected">
          <option value="0" selected>Reporte de ventas por equipo</option>
          <option v-for="team in Teams" :key="team.id" v-bind:value="team.id">{{ team.name }}</option>
        </select>
      </div>
      <div class="col">
        <select class="form-select" aria-label="Default select example" @change="showTable('c',cliSelected)" v-model="cliSelected">
          <option value="0" selected>Reporte de ventas por cliente</option>
          <option v-for="cli in Clients" :key="cli.id" v-bind:value="cli.id">{{ cli.name }}</option>
        </select>
      </div>
    </div>
    <br>
    <TabVentasU />
    <TabVentasT />
    <TabVentasC />
    <br>
    <div>
      <p>Seleccione algún elemento de las listas...</p>
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex'
import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'
// -- Impotacion de Componentes 
import TabVentasU from '../components/TabVentasU.vue'
import TabVentasT from '../components/TabVentasT.vue'
import TabVentasC from '../components/TabVentasC.vue'



export default {
   name: 'Home',
   components: {
     TabVentasU,
     TabVentasT,
     TabVentasC,
   },
  data() {
        return {
            arrayClientes: [],
            cliente: Object,
            counter: false,
            msj: 'Eliminar',
            cliSelected: 0,
            userSelected: 0,
            teamSelected: 0,
            debug: true,
        }
    },
  computed: {
    ...mapState(['token', 'Clientes', 'Clients', 'Users', 'Teams']),
    ...mapGetters(['getClientes']),

    resultCount () {
      return Object.keys(this.Clientes).length
    }
  },
  methods: {
     ...mapActions(['salir', 'getUsers', 'getClients', 'getTeams', 'ShowTableU',
                  'ShowTableT', 'ShowTableC', 'getSalesByUser', 'getSalesByTeam','getSalesByCli']),
    showTable(obj, id){
      console.log('obj: '+obj+' id: '+id)
      if(obj == 'u'){
        this.ShowTableU(true)
        this.ShowTableT(false)
        this.ShowTableC(false)
        this.cliSelected = 0
        this.teamSelected = 0
        this.getSalesByUser(id)
      }else if(obj == 't'){
        this.ShowTableT(true)
        this.ShowTableU(false)
        this.ShowTableC(false)
        this.cliSelected = 0
        this.userSelected = 0
        this.getSalesByTeam(id)
      }else{
        this.ShowTableC(true)
        this.ShowTableU(false)
        this.ShowTableT(false)
        this.teamSelected = 0
        this.userSelected = 0
        this.getSalesByCli(id)
      }
    },
  },
  created() {
    this.getUsers(),
    this.getClients(),
    this.getTeams()
  }
}
</script>

<style scoped>
.padd-t2{
        padding-top:3.5em !important;
    }
</style>

