<template>
  <div class="text-center py-5">
    <img alt="Forte logo" src="../assets/logotucanton_s.png" title="Forte Inovation Consulting" width="" height="">
  </div>
  <div class="container">
    <div class="row">
       <div class="col"></div>
      <div class="col-4">
        <div class="text-center">
            <main class="form-signin">
            <!-- Al hacer Submit se llama al metodo login-->
            <form class="mb-3" @submit.prevent="loginTuCanton(keys)">
                
                <h1 class="h3 mb-3 fw-normal">Inicio de sesion</h1>

                <div class="form-floating mb-3">
                <input type="text" class="form-control" id="inputUser" placeholder="Usuario" v-model="keys.usuario" title="Ingrese su usuario">
                <label for="inputUser" class="sr-only">Usuario</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" v-model="keys.password" title="Ingrese su contraseña">
                    <label for="inputPassword" class="sr-only">Password</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit" title="Clic para ingresar">Ingresar</button>
            </form>
            <div class="alert alert-warning" role="alert" v-if="errorLogin">
              {{ errorLogin }}
            </div>

            <p class="mt-5 mb-3 text-muted">Prueba Fullstack Django-Vue | <abbr title="email: iscdokan@live.com | tel: 452-107-1033">Alfonso Cortes</abbr>&nbsp;2021</p>
            <!-- Solo para depurar -->  
            <div id="formFooter" v-if="debug">
                <span>Debug: {{ creds }}</span>
            </div>
            </main>
        </div>  
      </div>
      <div class="col"></div>  
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import {mapActions} from 'vuex'

export default {
    name: 'Login',
    data() {
        return {
            keys: {
                usuario: 'alfonso',
                password: 'cortes'
            },
            debug: false,
        }
    },
    methods: {
        ...mapActions(['login','leerToken','salir','loginTuCanton'])
    },
    created(){
      this.leerToken()
    },
    computed: {
      ...mapState(['errorLogin'])
    }

}
</script>



