<template>
    <nav class="navbar navbar-expand-lg fixed-top" v-bind:class="[authProtect ? 'navbar-dark bg-dark' : 'navbar-ligth bg-ligth']">
        <div class="container">
            <a class="navbar-brand" href="/" target="_parent" v-if="authProtect">
            <img src="../assets/tu-canton-logo-blanco.svg" height="35" alt="Tu Canton">
            </a>
            <div class="d-flex">
                <div class="welcome"><p class="text-warning">{{ welcome }}</p></div>&nbsp;&nbsp;&nbsp;
                <div v-if="authProtect">
                    <button class="btn btn-primary" title="Clic para terminar" @click="salir">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
                            <path d="M7.5 1v7h1V1h-1z"/>
                            <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"/>
                        </svg> Cerrar sesi&oacute;n
                    </button>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'

export default {
    computed: {
        ...mapGetters(['authProtect', 'welcome']),
        //...mapGetters(['statusForm'])
    },
    methods: {
        ...mapActions(['salir']),
        //...mapActions(['showForm']),
    }   
}
</script>

<style scoped>
    .welcome{
        padding: 10px 50px 0 0 !important;
    }
</style>
