<template>
    <table class="table" v-if="showTableC">
    <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha de venta</th>
          <th scope="col">Cliente</th>
          <th scope="col" class="text-center">Importe</th>
          <th scope="col" class="text-center">Equipo de ventas</th>
          <th scope="col" class="text-center">Agente de ventas</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in tableSalesC" :key="item.id">
          <th scope="row">{{ item.id }}</th>
          <th scope="row">{{ item.createdAt }}</th>
          <td>{{ item.cliet }}</td>
          <td class="text-center">{{ item.amount }}</td>
          <td class="text-center">{{ item.team }}</td>
          <td class="text-center">{{ item.user }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" class="text-center">Total ventas {{ resultCount }} </td>
        </tr>
      </tfoot>
    </table>
</template>

<script>
import { mapState } from 'vuex'

export default {
    name: 'TabVentasC',

    data(){
        return{
            debug: true,
        }
    },
    computed: {
        ...mapState(['tableSalesC', 'showTableC']),
        resultCount () {
            return Object.keys(this.tableSalesC).length
        }
    },
}
</script>

<style scoped>

</style>
