<template>
  <Navbar />
  <router-view/>
</template>

<script>
// -- Impotacion de Componentes 
import Navbar from './components/Navbar.vue'
// -- Mapeo de Acciones
import {mapActions} from 'vuex'

export default {
  components: {
    // -- Barra de Navegacion
    Navbar
  },
  methods: {
    ...mapActions(['leerToken', 'salir'])
  },
  created(){
    this.leerToken()
  }
}
</script>


